<div xmlns:th="http://www.w3.org/1999/xhtml">
    <p>Dear <b th:text="${fullName}"></b>,</p>

    <p>This is a friendly reminder that you have an interview scheduled on Linchpino with <b th:text="${intervieweeName}"></b> on <b th:text="${date + ' at ' + time + ' ' + timezone}"></b>.</p>
    <p>Please make sure to:</p><br>
    <ul>
        <li>Review the interviewee's profile and any relevant materials.</li>
        <li>Test your audio and video equipment before the interview.</li>
        <li>Log in to your Linchpino account a few minutes early to ensure everything is set up.</li>
    </ul><br>

    <p>If you need to make any adjustments or have questions, feel free to contact us.</p><br>

    <p>Thank you for your participation.</p><br>

    <p>Kind regards,</p>
    <p>The Linchpino Team</p>
</div>
